.messages-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-left: 13%;
  }
  
  .messages-container {
    display: flex;
    flex: 1;
    overflow: hidden;
  }
  
  @media (max-width: 768px) {
    .messages-container {
      flex-direction: column;
    }
  }
  