.message-thread {
    flex: 1;
    padding: 20px;
  }
  
  .messages {
    flex: 1;
    overflow-y: auto;
  }
  
  .message {
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .sent {
    text-align: right;
  }
  
  .received {
    text-align: left;
  }
  

  .message-input-wrapper {
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-self: center;
    padding: 10px 20px;
    background-color: transparent;
    backdrop-filter: blur(5px);
  }