.post-preview-container {
    flex: content;
    text-align: center;
    padding-left: 25%;
    padding-top: 10%;
    justify-content: center;
  }
  
  .preview {
    margin-bottom: 20px;
  }
  
  .final-image {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 12px;
    
  }
  
  .share-btn {
    background-color: #0095f6;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  