.post-preview-container {
    flex: content;
    /* flex-direction: row; */
    text-align: center;
    margin:10% 15% 25%;
    padding-left: 15%;
    padding-top: 10%;
    justify-content: center;
    box-shadow: rgba(0,0,0,0.85) 0px 3px 8px;
    border-radius: 5px;
  }
  
  .preview {
    margin-bottom: 10px;
  }
  
  .final-image {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 12px;
    
  }
  
  .share-btn {
    background-color: #0095f6;
    color: white;
    margin-left: 45px;
    margin-bottom: 10px;
    /* padding: 10px 20px; */
    padding-bottom: 10px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
  }
  